{% extends "base.html" %}

{% load staticfiles %}

{% block main %}
{#    <div class="container">#}
{#        <span id="page_count"></span>#}
{#    </div>#}

    <div class="container">

        <div class="row ">
            <div class="col-sm-12 col-md-12 p-2">
                <h6 class="border-bottom mb-2 mt-2 border-gray">
                    <a href="{{ book.get_absolute_url }}"><i class="fa fa-reply" aria-hidden="true"></i> 返回</a>
                    - {{ book.name }}
                </h6>
                <div class="embed-responsive embed-responsive-4by3">
                 <iframe class="embed-responsive-item pdf" src="{{ book.pdf.url }}"></iframe>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

{% block custom_js %}
     <script type="text/javascript" src="{% static 'js/pdf/jquery.media.js' %}"></script>
     <script type="text/javascript">
        $(function() {
            $('a.media').media();
        });
     </script>

{% endblock %}