{% extends "base.html" %}

{% block main %}
    <div class="container">
       <div class="my-3 p-3 bg-white rounded box-shadow">
            <form action="{% url 'users:user_register' %}" method="post">
              <div class="form-group">
                <label for="id_email">邮箱注册</label>
                <input type="email" class="form-control {% if 'email' in invalid_keys %}is-invalid{% endif %}" id="id_email" name="email" aria-describedby="emailHelp" required placeholder="输入邮箱">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="id_password1">设置密码</label>
                <input type="password" class="form-control {% if 'password1' in invalid_keys %}is-invalid{% endif %}" id="id_password1" name="password1" required placeholder="输入密码">
              </div>
                <div class="form-group">
                <label for="id_password2">确认密码</label>
                <input type="password" class="form-control {% if 'password2' in invalid_keys %}is-invalid{% endif %}" id="id_password2" name="password2" required placeholder="确认密码">
              </div>
            {% csrf_token %}
              <button type="submit" class="btn btn-success">注册</button>
            </form>
           {% if msg or user_register_form.errors.items %}
               <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                    {% for key, error in user_register_form.errors.items %}
                        {{ error }}
                    {% endfor %}
                    {{ msg }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
           {% endif %}
       </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        {% ifequal 'ok' status %}
            $(function () {
                tips('注册成功，即将跳转到登录界面~', 'success');
                setTimeout(function () {
                    window.location.href = '/user/login/';
                }, 3500);
            });        
        {% endifequal %}
        
    </script>
{% endblock %}