{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
    <link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="my-3 p-3 bg-white rounded box-shadow">
         <h6 class="border-bottom border-gray pb-2 mb-3">
             <a href="{{request.user.get_absolute_url }}"><i class="fa fa-reply" aria-hidden="true"></i> 主页</a>-上传图书</h6>
            <form method="post" enctype="multipart/form-data" action="{% url 'books:upload_book' %}">
                {% csrf_token %}
              <div class="form-group row">
                <label for="id_cover_picture" class="col-sm-1 col-form-label">封面图</label>
                <div class="col-sm-11">
                    <input type="file"
                           class="form-control-file {% if 'cover_picture' in invalid_keys %}is-invalid{% endif %}"
                           data-msg-placeholder="请选择一张图片作为图书封面"
                           id="id_cover_picture" required name="cover_picture">
                </div>
              </div>
                <div class="form-group row">
                <label for="id_pdf" class="col-sm-1 col-form-label">PDF</label>
                <div class="col-sm-11">
                    <input type="file"
                           class="form-control-file {% if 'pdf' in invalid_keys %}is-invalid{% endif %}"
                           data-msg-placeholder="请选择的电子书格式为PDF"
                           id="id_pdf"
                           required name="pdf">
                </div>
              </div>

              <div class="form-group row">
                <label for="id_name" class="col-sm-1 col-form-label">书名</label>
                <div class="col-sm-11">
                  <input type="text" class="form-control {% if 'name' in invalid_keys %}is-invalid{% endif %}" id="id_name" required name="name">
                </div>
              </div>
              <div class="form-group row">
                <label for="id_desc" class="col-sm-1 col-form-label">简介</label>
                <div class="col-sm-11">
                    <textarea class="form-control {% if 'desc' in invalid_keys %}is-invalid{% endif %}" id="id_desc" rows="5" required name="desc"></textarea>
                </div>
              </div>

                <div class="form-group row">
                    <label class="col-sm-1" for="id_category">分类</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="id_category" name="category">
                            <option selected>---------</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

              <div class="form-group row">
                <div class="col-sm-12 mt-3">
                  <button type="submit" class="btn btn-success">确认上传</button>
                </div>
              </div>
            </form>

            {% if upload_form.errors.items %}
               <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                    {% for key, error in upload_form.errors.items %}
                        {{ error }}
                    {% endfor %}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
           {% endif %}
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        {% ifequal 'ko' status %}
            $(function () {
                tips('上传失败~', 'danger');
                return true;
            });
        {% endifequal %}
    </script>
    <script type="text/javascript" src="{% static 'js/fileinput.min.js' %}"></script>
    <script type="text/javascript">
        $("#id_cover_picture").fileinput({
            showUpload: false,
            dropZoneEnabled: false,
            allowedFileExtensions: ["jpg", "png", "gif"],

        });

        $("#id_pdf").fileinput({
            showUpload: false,
            dropZoneEnabled: false,
            allowedFileExtensions: ["pdf"],
        });
    </script>
{% endblock %}